/* body {
  height: 100%;
  width: 100%;
  background-image: url(../public/2560px-Fleet_5_nations.jpeg);
  background-size: cover;
} */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Kumbh+Sans:wght@400;700&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: border-box;
}

/* .game-screen {

} */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  width: 25vw;
  /* height: 25rem; */
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  border: 2px solid black;
}

.board div {
  width: 10%;
  /* height: 10%; */
  padding-bottom: 10%;
  border: 1px solid rgb(80, 80, 80);
  background-color: blue;
  cursor: crosshair;
}

.info-div {
  height: 100%;
}

.legend-div {
  width: 100%;
  height: 40%;
  
}

.restart-btn {
  position:relative;
  bottom: 0%;
  min-width: 7rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
}

.w-20 {
  width: 20%;
}

.count-div {
  height: 3rem;
  width: 9.5rem;
  font-size: 2rem;
  font-weight: 700;
}

/* // 0 = empty
// 1 = part of a ship
// 2 = a sunken part of a ship
// 3 = a missed shot */

.legend-square {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: solid 1px black;
}

.ship {
  background-color: grey;
}

.sunken {
  background-color: red;
}

.missed {
  background-color: white;
}

.empty {
  background-color: blue;
}

.instructions {

  margin-bottom: 0px; 
  font-size: 20px;
}



.name-div {
  
  max-width: 9rem;
}

.info-message {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .game-screen {
    flex-direction: column !important;
  }

  .legend-div {
    flex-direction: column !important;
  }
}