.board {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  border: 2px solid black;
}

.board div {
  width: 10%;
  height: 10%;
  border: 1px solid grey;
  background-color: blue;
  cursor: crosshair;
}

.restart-btn {
  position:absolute;
  bottom: 30%;
}